body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .todo-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
    color: #333;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  button {
    padding: 8px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
  }
  
  li:last-child {
    border-bottom: none;
  }

  .delete-button, .edit-button {
    float: right;
    background-color: #eb6d64;
    color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 4px 8px;
  }
  
  .delete-button:hover{
    background-color: #cc0000;
  }

  .edit-button {
    background-color: #9be9e2;
    margin-right: 5px;
    padding: 3px 5px;
  }
  
   .edit-button:hover {
    background-color: #1bb3eb;
  }